# Папки IDE
.idea/
.vscode/
.vs/
out/

# Папка сборки
cmake-build-*/

# Временне библиотеки
_deps/

# Исполняемые файлы
*.exe
*.out

# Объектные файлы
*.o
*.obj

# Динамические и статические библиотеки
*.dll
*.so
*.a